@media screen and (max-width: 1590px) {
	.content-side {
		width: auto;
		max-width: 9999px;
		float: left;
		width: calc(100% - 335px);
	}
	.sidebar {
		width: 335px;
		min-width: 1px;
		margin-left: 0;
		float: right;
	}
}