@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";

html, body, .all-wrapper {
	height: 100%;
}

.all-wrapper {
	position: relative;
	padding: 100px 0 40px;
	overflow: hidden;
}

.site-header {
	position: absolute;
	background: #fff;
	height: 100px;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 1px solid #b8bbbe;
}

.site-footer {
	position: absolute;
	background: #fff;
	height: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #b8bbbe;
}

.main-content {
	height: 100%;
}

.container {
	// max-width: 1480px;
	height: 100%;
}
.content-side {
	padding: 50px 50px 0 100px;
	background: rgba(250, 250, 250, .85);
	height: 100%;
	overflow-y: auto;
	max-width: 1248px;
	width: 100%;
	float: left;
	height: 100%;
}

.sidebar {
	margin-left: 1248px;
	height: 100%;
	min-width: 335px;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	&__inner {
		background: rgba(0, 82, 145, .8);
		width: 335px;
		padding: 50px 50px 0;
		height: 100%;
		overflow-y: auto;
	}
}

.home .main-content {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
}

.site-header {
	padding-left: 100px;
	.logo {
		display: block;
		float: left;
		margin-top: 17px;
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
}

.site-header__inner {
	float: left;
	position: relative;
	margin-left: 20px;
	padding-right: 22px;
}

.site-header__nav {
	float: left;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		line-height: 100px;
		li {
			display: inline-block;
			padding: 0 30px;
			border-right: 1px solid #5c5f66;
			line-height: normal;
			a {
				transition: $transition;
				font-family: $sansbook;
				color: #5c5f66;
				font-size: 14px;
				text-transform: uppercase;
				text-decoration: none;
				border-bottom: 2px solid transparent;
				padding-bottom: 2px;
				&:hover {
					color: #e92d2a;
					border-color: #e92d2a;
				}
			}
			&.current-menu-item a {
				color: #e92d2a;
				border-color: #e92d2a;
			}
			&:last-child {
				border: none;
			}
		}
	}
}

.search {
	background: url(../img/search.png) center center no-repeat;
	width: 16px;
	height: 42px;
	cursor: pointer;
	float: left;
	margin-top: 30px;
	&__inner {
		position: absolute;
		width: 100%;
		height: 42px;
		right: 0;
		top: 50%;
		margin-top: -21px;
		padding-right: 42px;
		display: none;
		background: #fff;
		border-radius: 8px;
	}
	input {
		display: none;
		width: 100%;
		height: 100%;
		border: none;
		background: url(../img/search.png) left 12px center no-repeat #f4f4f6;
		outline: 0;
		border-radius: 8px;
		padding: 0 15px 0 40px;
		font-family: $sansbook;
		line-height: 42px;
	}
	&.active {
		position: absolute;
		width: 100%;
		background: transparent;
		.search__inner {
			display: block;
		}
		input {
			display: block;
		}
		span {
			&::after {
				content: '';
				@include sprite($cancel);
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -8px;
				margin-left: -8px;
			}
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			z-index: 1;
			height: 42px;
			width: 42px;
		}
	}
}

.site-title {
	color: #005291;
	font-size: 60px;
	font-family: $sansbook;
	margin: 0;
	font-weight: normal;
}

.index-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		position: relative;
		padding: 25px 0 25px 16px;
		border-bottom: 1px solid #dbe1e2;
		border-top: 1px solid #fff;
		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background: #005291;
			left: 2px;
			top: 31px;
		}
		&:first-child {
			border-top-width: 0px;
		}
	}
	.heading {
		font-family: $sansbold;
		color: #404040;
		font-size: 21px;
		margin: 0 0 7px;
	}
	p {
		font: 16px/24px $serifbook;
		color: #666666;
		margin: 0;
	}
}

.sidebar-title {
	font-weight: normal;
	font-size: 57px;
	color: #fff;
	margin: 0 0 15px;
	font-family: $sansbook;
	line-height: 60px;
}

.sidebar-description {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	margin: 0 0 20px;
	font-family: $serifbook;
}

.btn {
	display: inline-block;
	line-height: 42px;
	border: 1px solid transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-family: $sansbook;
	text-decoration: none;
	transition: $transition;
	padding: 3px 12px 0;
	&--transparent {
		background: transparent;
		&:hover {
			background: #005291;
		}
	}
	&--white-text {
		color: #fff;
		border-color: #fff;
	}
}

.site-footer {
	padding: 0 100px;
	.copyright {
		float: left;
		p {
			margin: 0;
			font: 12px/40px $serifbook;
			color: #b2b2b2;
		}
		a {
			color: #b2b2b2;
			&:hover {
				text-decoration: none;
			}
		}
		.madein {
			color: #85a5be;
		}
	}
}

.projects__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.projects__list-item {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 31%;
	position: relative;
	margin: 0 0 30px;
	&:nth-child(3n-1) {
		margin-left: 3%;
		margin-right: 3%;
	}
	.full-link {
		transition: $transition;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:hover {
			background: rgba(0, 0, 0, .2);
		}
	}
	.img-wrap {
		height: 200px;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.project-title {
		padding: 18px 30px;
		margin: 0;
		background: #f2f2f2;
		font: 21px/28px $sansbold;
		color: #404040;
	}
	.project-description {
		padding: 15px 30px;
		color: #666;
		p {
			margin: 0;
			font: 14px/21px $serifbook;
		}
	}
	.project-reward {
		color: #fff;
		background: #005291;
		padding: 18px 30px;
	}
	.reward-title {
		font: 16px $serifbook;
		margin: 0 0 5px;
	}
	.reward-text {
		font: 24px $sansbold;
		margin: 0;
	}
	.project-price {
		text-align: center;
		padding: 15px 0;
	}
	.price-col {
		display: inline-block;
		margin: 0 5px;
		vertical-align: top;
		text-align: left;
		color: #005291;
	}
	.price-title {
		font: 16px $serifbook;
		margin: 0 0 5px;
	}
	.price-amount {
		font: 24px $sansbold;
		margin: 0;
		span {
			margin-left: 5px;
		}
	}
	.price-col--need {
		color: #999999;
	}
}

.projects__sidebar .sidebar-title  {
	padding-left: 50px;
	padding-right: 50px;
}

.filter-col {
	padding: 20px 50px;
	color: #fff;
	border-bottom: 1px solid #165487;
	border-top: 1px solid rgba(255, 255, 255, .1);
	&:first-child {
		padding-top: 0;
		border-top: none;
		margin-top: 30px;
	}
	.heading {
		margin: 0;
		font-size: 18px;
		color: #fff;
		font-family: $sansbook;
		text-transform: uppercase;
		padding-left: 15px;
		position: relative;
		text-decoration: none;
		&::before {
			content: '';
			width: 5px;
			height: 5px;
			background: #fff;
			position: absolute;
			left: 0;
			top: 5px;
		}
	}
	.cat-filter {
		margin: 20px 0 0 0;
		padding: 0;
		list-style-type: none;
		li {
			padding-left: 15px;
			margin-bottom: 15px;
			input {
				display: none;
			}
			label {
				font-size: 16px;
				color: #fff;
				font-family: $serifbook;
				padding-left: 20px;
				position: relative;
				cursor: pointer;
			}
			.check {
				position: absolute;
				left: 0;
				top: 0;
				@include sprite($uncheck);
			}
			input:checked + span {
				@include sprite($check);
			}
		}
	}
	.filter--link {
		padding-right: 10px;
		position: relative;
		.arr {
			position: absolute;
			right: 0;
			top: 4px;
			@include sprite($arr-t);
		}
		&.active .arr {
			@include sprite($arr-d);
		}
	}
}



.employees__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		width: 46%;
		display: inline-block;
		vertical-align: top;
		margin-right: 4%;
		padding: 40px 0;
		border-bottom: 1px solid #d6dbdb;
		border-top: 1px solid #fff;
		&:first-child,
		&:nth-child(2) {
			border-top-width: 0px;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	.img-side {
		padding: 1px;
		float: left;
		border: 1px solid #d9d9d9;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.about {
		margin-left: 150px;
		.heading {
			margin: 0 0 5px;
			font: 21px $sansbold;
			color: #404040;
		}
		.description {
			font: 16px/22px $serifbook;
			color: #666666;
			margin: 0;
		}
	}
}

.single-project {
	&__col {
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
	.single-title {
		font-weight: normal;
		color: #005291;
		font-size: 60px;
		font-family: $sansbook;
		line-height: 60px;
		margin: 0;
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 20px;
		margin-bottom: 30px;
	}
	p {
		font: 16px/24px $serifbook;
		color: #666666;
	}
	.graphic-side {
		padding-right: 25px;
	}
	.text-side {
		padding-left: 25px;
	}
}
.invest-form {
	padding: 30px 0;
	border-top: 1px solid #d9d9d9;
	p {
		font-family: $serifbook;
		margin: 0;
		font-size: 16px;
		color: #666666;
		display: inline-block;
		vertical-align: middle;
	}
	.invest-input {
		width: 100px;
		height: 40px;
		background-color: white;
		border: 1px solid #d9d9d9;
		outline: 0;
		text-align: center;
		font: 21px $sansbold;
		color: #005291;
		margin: 0 10px;
	}
	.btn--submit {
		display: inline-block;
		vertical-align: middle;
		height: 45px;
		background-color: #005291;
		padding-left: 35px;
		padding-right: 35px;
		cursor: pointer;
		margin-left: 60px;
		&:hover {
			background: #024171;
		}
	}
}

.single-map {
	margin-top: 44px;
	padding-right: 10px;
	.map-title {
		margin: 0 0 15px;
		font: 18px $sansbold;
		color: #404040;
	}
	.map-container {
		height: 300px;
	}
}

.single-slider__thumbs {
	padding: 0 20px;
	.slick-list {
		margin-left: -5px;
	}
	.img-wrap {
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
		transition: $transition;
		&::after {
			transition: $transition;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .3);
		}
		&:hover::after {
			background: transparent;
		}
		&.video-thumb::after {
			background: url(../img/video-icon.png) center center no-repeat rgba(0, 0, 0, .2);
		}
		&.video-thumb:hover::after {
			background: url(../img/video-icon.png) center center no-repeat transparent;
		}
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -6px;
		border: none;
		outline: 0;
		background-color: transparent;
		cursor: pointer;
		font-size: 0px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: center center;
		width: 8px;
		height: 12px;
	}
	.slick-prev {
		background-image: url(../img/arr-l.png);
		left: 0;
	}
	.slick-next {
		background-image: url(../img/arr-r.png);
		right: 0;
	}
}

.single-slider__view {
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	.single-video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.aligned {
	padding: 0 50px;
}

.single-sidebar {
	span.heading {
		display: block;
		margin: 0 0 5px;
		font-family: $serifbook;
		font-size: 16px;
	}
	.collected {
		margin: 0;
		font-size: 24px;
		font-family: $sansbook;
		color: #fff;
		.money {
			font-size: 48px;
		}
	}
	&__section {
		border-bottom: 1px solid #124f7e;
		border-top: 1px solid rgba(255, 255, 255, .1);
		padding-top: 20px;
		padding-bottom: 20px;
		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}
	.info {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;
		}
		li {
			display: inline-block;
			text-align: left;
			color: #fff;
			width: 48.5%;
			margin-bottom: 20px;
			font-family: $sansbook;
		}
		.money {
			font-family: $sansbold;
			font-size: 21px;
		}
	}
	.reward {
		color: #fff;
		p {
			font: 14px/21px $serifbook;
			margin: 0;
		}
	}
	.author {
		color: #fff;
		.ava-side {
			padding: 1px;
			border-radius: 50%;
			border: 1px solid #4577a0;
			width: 70px;
			height: 70px;
			float: left;
			img {
				display: block;
				max-width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}
		.description-side {
			margin-left: 80px;
			.author-name {
				font: 24px $sansbold;
				margin: 0 0 10px;
			}
		}
	}
	.author-contacts {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 8px;
			a {
				color: #fff;
				text-decoration: none;
				font-family: $serifbook;
				font-size: 14px;
				&:hover {
					text-decoration: underline;
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&.tel::before {
				@include sprite($tel);
			}
			&.mail::before {
				@include sprite($mail);
			}
			&.website::before {
				@include sprite($website);
			}
		}
	}
	.return {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		font-family: $sansbook;
		display: inline-block;
		padding-left: 15px;
		background: url(../img/return.png) left center no-repeat;
		padding-top: 3px;
	}
}

.single .sidebar__inner,
.projects .sidebar__inner, {
	padding: 50px 0;
}

.my-projects__sidebar {
	.sidebar-title {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.my-sidebar__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	a {
		line-height: 56px;
		padding-left: 50px;
		padding-right: 50px;
		display: block;
		font-size: 18px;
		color: #fff;
		text-decoration: none;
		font-family: $sansbook;
		text-transform: uppercase;
		&:hover {
			background: rgba(250, 250, 250, .1);
		}
		.heading {
			padding-left: 15px;
			position: relative;
			&::before {
				content: "";
				width: 5px;
				height: 5px;
				background: #fff;
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
	}
	li.current-menu-item a {
		background: rgba(250, 250, 250, .1);
	}
	li {
		border-bottom: 1px solid #165487;
		border-top: 1px solid hsla(0,0%,100%,.1);
	}
	li:first-child {
		border-top: none;
	}
}

.my-info {
	margin-top: 25px;
	padding: 0 50px;
	.info-item {
		margin-bottom: 15px;
		font-size: 16px;
		font-family: $sansbook;
		color: #c2d5e3;
		text-transform: uppercase;
	}
}

.blog-sidebar {
	padding-left: 50px;
	padding-right: 50px;
}

.blog-sidebar__list {
	margin: 30px 0 0;
	padding: 0;
	list-style-type: none;
	li {
		margin-bottom: 15px;
	}
	a {
		font-size: 18px;
		font-family: $sansbook;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}

.blog__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&-item {
		background: #fff;
		border: 1px solid rgba(0,0,0,.1);
		width: 31%;
		position: relative;
		margin: 0 0 30px;
		padding-bottom: 12px;
		&:nth-child(3n-1) {
			margin-left: 3%;
			margin-right: 3%;
		}
	}
	.img-wrap {
		height: 200px;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.heading {
		padding: 14px 30px;
		margin: 0;
		font: 21px/28px $sansbold;
		color: #404040;
	}
	.description {
		padding: 0 30px;
		color: #666;
		p {
			margin: 0;
			font: 14px/21px OfficinaSerifBook;
		}
	}
	.more {
		padding: 10px 30px;
		margin-top: 10px;

	}
	.date {
		color: #b2b2b2;
		font-size: 12px;
		float: left;
		font-family: $serifbook;
		margin: 0;
	}
	.view-more {
		margin: 0;
		text-transform: uppercase;
		color: #427fad;
		font-size: 14px;
		text-decoration: none;
		font-family: $sansbook;
		display: inline-block;
		float: right;
		background: url(../img/view-more.png) right top 1px no-repeat;
		padding-right: 10px;
	}
	.full-link {
		transition: $transition;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:hover {
			background: rgba(0,0,0,.2);
		}
	}
}























@import "_media.scss";








