extends _layout
block vars
	- var bodyClass = 'projects'
block content
	main.main-content
		.container.cf
			.content-side
				ul.blog__list
					li.blog__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/blog-img.jpg)")
						p.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.description 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.more.cf
							p.date 20.12.2016
							p.view-more Подробнее
					li.blog__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/blog-img2.jpg)")
						p.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.description 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.more.cf
							p.date 20.12.2016
							p.view-more Подробнее
					li.blog__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/blog-img.jpg)")
						p.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.description 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.more.cf
							p.date 20.12.2016
							p.view-more Подробнее
					li.blog__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/blog-img2.jpg)")
						p.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.description 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.more.cf
							p.date 20.12.2016
							p.view-more Подробнее
					li.blog__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/blog-img.jpg)")
						p.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.description 
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.more.cf
							p.date 20.12.2016
							p.view-more Подробнее


			aside.sidebar(style="background-image: url(img/projects-bg.jpg)")
				.sidebar__inner
					.blog-sidebar
						h2.sidebar-title Блог
						ul.blog-sidebar__list
							li
								a(href="#") Рубрикатор 1
							li
								a(href="#") Рубрикатор 2
							li
								a(href="#") Рубрикатор 3
							li
								a(href="#") Рубрикатор 4
							li
								a(href="#") Рубрикатор 5
							







block inlineScripts