extends _layout
block vars
	- var bodyClass = 'employees'
block content
	main.main-content(style="background-image: url(img/employees.jpg); background-position: center right")
		.container.cf
			.content-side
				h1.site-title Сотрудники
				ul.employees__list
					li
						.img-side
							img(src="img/emp1.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
					li
						.img-side
							img(src="img/emp2.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
					li
						.img-side
							img(src="img/emp2.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
					li
						.img-side
							img(src="img/emp1.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
					li
						.img-side
							img(src="img/emp2.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
					li
						.img-side
							img(src="img/emp1.jpg", alt="")
						.about
							p.heading Lorem Ipsum
							p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
			aside.sidebar
				.sidebar__inner
					h2.sidebar-title Cash Free Banking
					p.sidebar-description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit numquam nam quas cum atque
					a.btn.btn--transparent.btn--white-text(href="#") Отправить заявку





block inlineScripts