extends _layout
block vars
	- var bodyClass = 'projects'
block content
	main.main-content
		.container.cf
			.content-side
				ul.projects__list
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project2.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project2.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.

			aside.sidebar(style="background-image: url(img/projects-bg.jpg)")
				.sidebar__inner
					.my-projects__sidebar
						h2.sidebar-title Профиль
						ul.my-sidebar__list
							li
								a(href="#")
									span.heading Мои проекты
							li.current-menu-item
								a(href="#")
									span.heading Мои Инвестиции
							li
								a(href="#")
									span.heading Выход
						.my-info
							.info-item 50 проектов открыто
							.info-item 15 инвестиций
							.info-item 250 000 руб вложено
							.info-item 450 000 руб собрано
							.info-item lorem ipsum
							







block inlineScripts