extends _layout
block vars
	- var bodyClass = 'projects'
block content
	main.main-content
		.container.cf
			.content-side
				ul.projects__list
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project2.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project2.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.
					li.projects__list-item
						a.full-link(href="#")
						.img-wrap(style="background-image: url(img/project1.jpg)")
						p.project-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
						.project-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
						.project-reward
							p.reward-title Вознаграждение:
							p.reward-text Lorem ipsum dolor amet
						.project-price
							.price-col
								p.price-title Собрано:
								p.price-amount 20 000
									span руб.
							.price-col.price-col--need
								p.price-title Необходимо:
								p.price-amount 40 000
									span руб.

			aside.sidebar(style="background-image: url(img/projects-bg.jpg)")
				.sidebar__inner
					h2.sidebar-title Проекты
					ul.sidebar__categories
						li
							p.heading категории
								span.cat-arrow
							ul.subcat-list
								li
									Категория 1






block inlineScripts